
<h1>Backbone-Marionette-Gulp Starter</h1>
<p>An ES6-ready boilerplate for building Backbone/Marionette apps using Gulp.</p>
<ul>
    <li>Clone on <a href="https://github.com/MadeInHaus/backbone-marionette-gulp-starter" target="_blank">GitHub</a></li>
    <li>Made in <a href="https://madeinhaus.com/" target="_blank">HAUS</a></li>
</ul>
