
<div class="container">
    <a href="/" class="logo" data-navigate>Home</a>
    <a href="/about" data-navigate>About</a>
    <a href="/i-thought-backbone-was-dead" data-navigate>404</a>
    <a href="https://github.com/MadeInHaus/backbone-marionette-gulp-starter" target="_blank">Github</a>
</div>


